/.phpunit.cache
/node_modules
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
/.fleet
/.idea
/.vscode
.DS_Store
session/
images-report.json
.docker/mysql/data
php-src
.docker/postgresql/data
docker-compose.override.yaml
supervisord.log
/Dockerfile
!storage/temp/.gitkeep
storage/temp/*
.env
database/migrations
migrations/

public/css
public/fonts
public/js
public/js/app.js
public/images
public/main.js
public/mix-manifest.json
public/robots.txt

nohup.out

.idea